@{
    ViewBag.Title = "Sök i grafdatabasen";
}
<div class="row"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>

<div id="graph" class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sökfunktion</h3>
        </div>
        <div class="panel-body">
            Här ska sökningen göras
        </div>
    </div>
</div>
<div id="details" class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sökresultat</h3>
        </div>
        <div class="panel-body">
            Detaljer
        </div>
    </div>

</div>

