@{
    ViewBag.Title = "Sök i grafdatabasen";
}

@model Grafdatabasen.ViewModels.SearchViewModel
<style>
    .searchitem {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size:18px;
        font-style:italic;
        line-height:32px;
            
    }
    .mtlist {
        border:none;
        border-bottom:1px dotted lightgrey;
    }
    #graf {
        position:absolute;
        top:270px;
        left:10px;
    }
        .link {
        stroke: #999;
    }
</style>
<div class="row"><p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<div class="panel-group col-md-6" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Enkel sökning
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="col-md-6" id="enkel">
                    <select id="select2" style="width:400px">
                        <option></option>
                    </select>
                </div>
                @*<div id="searchbutton" class="col-md-1 pull-right">
                        <button class="btn-sm btn-success">Sök</button>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#nyfiken" aria-expanded="false" aria-controls="collapseTwo">
                    Nyfiken sökning
                </a>
            </h4>
        </div>
        <div id="nyfiken" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div id="searchPanel" class="panel-body">
                <p class="searchitem">
                    Jag söker
                    <select id="lista1" class="searchitem mtlist">
                        <option value="0" selected disabled>något...</option>
                        <option value="1">konsulter</option>
                        <option value="2">uppdrag</option>
                        <option value="3">kunder</option>
                        <option value="4">kompetenser</option>
                    </select>
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="lista2" class="searchitem mtlist" hidden="hidden"><option value="0" selected disabled>---</option></select>
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select id="lista3" class="searchitem mtlist" hidden="hidden"><option value="0" selected disabled>---</option></select></p>
                <div class="pull-right">
                    <button type="button" id="mer" class="btn-sm btn-success " hidden="hidden">+</button>&nbsp;
                    <button type="button" id="sok" class="btn-sm btn-default" hidden="hidden">Sök</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="resultatpanel" class="col-md-6" hidden="hidden">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button type="button" id="close" class="close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="panel-title">Sökresultat</h3>
        </div>
        <div class="panel-body">
            <div id="resultat"></div>
            <div class="pull-right">
                <button type="button" id="visa" class="btn-sm btn-success ">Visa graf</button>&nbsp;
                <button type="button" id="skapacv" class="btn-sm btn-default" hidden="hidden">Skapa cv</button>
            </div>
        </div>
    </div>
</div>
<div id="graf"></div>

<script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function(){
        //  ************  Söker nu bara på konsulter och uppdrag ***************
        var request = ajaxneo4j("match (n)  Where n:Konsult OR n:Uppdrag OR n:Kompetens OR n:Kund Unwind labels(n) as l Return distinct n.Namn, l");
        var query, nodTyp;
        
        request.done(makeOptgroup);

        function idIndex(a, id) {
            for (var i = 0; i < a.length; i++) {
                if (a[i].id == id) return i;
            }
            return null;
        }

        $("#select2").select2({
            placeholder: "Sök på Uppdrag | Konsult",
            minimumInputLength: 1,
        })

        $("#select2").change(function () {
            query = $("#select2 option:selected").val();
            search(query);
            $("#graf").html("");
        })

        function makeOptgroup(y) {                
            var optgroup = [];
            y.results[0].data.forEach(function (d) {
                if ($.inArray(d.row[1], optgroup)== -1) {
                    optgroup.push(d.row[1]);
                    $("#select2").append("<optgroup id=" + d.row[1] + " label=" + d.row[1] + "></optgroup>")
                    }
                switch (d.row[1].toString()) {
                    case "Konsult": 
                        $("#Konsult").append("<option> " + d.row[0] + "</option>");
                        break;
                    case "Uppdrag": 
                        $("#Uppdrag").append("<option> " + d.row[0] + "</option>");
                        break;
                    case "Kompetens": 
                        $("#Kompetens").append("<option>" + d.row[0] + "</option>");
                        break;
                    case "Kund": 
                        $("#Kund").append("<option>" + d.row[0] + "</option>");
                        break;
                    default: 
                }
            })
        }

        function search(query) {
            var search = ajaxneo4j("match (n)  Where n.Namn = '" + query + "' Return distinct n");
            search.done(presentresult);
            return;
        }

        function presentresult(x){
            var resultatpanel= $("#resultatpanel");
            var nodes = [];
            resultatpanel.show();
            $("#skapacv").hide();
            x.results[0].data[0].graph.nodes.forEach(function (n) {
                if (idIndex(nodes, n.id) == null) {
                    var property = [];
                    for (var item in n.properties) {
                        property.push("<br><strong>" + item + ":  </strong>" + n.properties[item]);
                    }
                    var resultat= $("#resultat");
                    resultat.html("<p>" + n.labels[0] + "</br>" + property + "</p>");
                    nodTyp = n.labels[0];
                    if (nodTyp == "Konsult") {
                        $("#skapacv").show();
                    }

                }
            })
            return;
        }

        $("#close").on('click', function (event) {
            $("#resultatpanel").hide();
            $("#graf").html("");
        });

        $("#headingTwo").on('click', function (event) {
            $("#resultatpanel").hide();
            $("#graf").html("");
        });

        //  Nedan är visualisering av sökresultatet
        $("#visa").on('click', function () {
            if (nodTyp == "Konsult") {
                var graf = ajaxneo4j("match path=(n {Namn:'" + query + "'})-[*1..2]->(m) return path");
            }
            else {
                var graf = ajaxneo4j("match path=(n {Namn:'" + query + "'})-[*1..2]-(m) return path");
            }
            console.log(graf);
            graf.done(displayd3);

            function displayd3(y) {
                var nodes = [], links = [];
                y.results[0].data.forEach(function (row) {
                    row.graph.nodes.forEach(function (n) {
                        if (idIndex(nodes, n.id) == null) {
                            var property = [];
                            for (var item in n.properties) {
                                property.push("<br><strong>" + item + ": </strong>" + n.properties[item]);
                            }
                            nodes.push({ id: n.id, label: n.labels[0], title: n.properties.Namn, props: property });
                        }
                    });
                    links = links.concat(row.graph.relationships.map(function (r) {
                        return { source: idIndex(nodes, r.startNode), target: idIndex(nodes, r.endNode), type: r.type };
                    }));
                });
                var graph = { nodes: nodes, links: links };


                var margin = {top: -5, right: -5, bottom: -5, left: -5};
                var width = 670 - margin.left - margin.right, height = 400- margin.top - margin.bottom;
                var color = d3.scale.category20();

                var svg = d3.select("#graf").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                        .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.right + ")");

                var force = d3.layout.force()
                        .charge(-200)
                        .linkDistance(50)
                        .size([width + margin.left + margin.right, height + margin.top + margin.bottom]);

                force
                    .nodes(graph.nodes)
                    .links(graph.links)
                    .start();

                var container = svg.append("g");

                var link = container.selectAll(".link")
                        .data(graph.links)
                        .enter()
                        .append("line")
                        .attr("class", "link");

                var node = container.selectAll(".node")
                        .data(graph.nodes)
                        .enter().append("g")
                        .call(force.drag);

                node.append("circle")
                    .attr("r", function (d) {
                        var size;
                        switch (d.label) {
                            case "Konsult":
                            case "Uppdrag":
                            case "Kund":
                                radius = 15;
                                break;
                            case "Beställare":
                            case "Uppgift":
                                radius = 5;
                                break;
                            default: radius = 9;
                        }
                        return radius;
                    })
                    .attr("fill", function (d) { return color(d.label); })
                    .attr("class", function (d) { return d.label })
                    .style("stroke", function (d) { return d3.rgb(color(d.label)).darker(); });

                node.append("text")
                    .attr("dx", 2 * radius)
                    .attr("dy", ".35em")
                    .text(function (d) { return d.title });

                force.on("tick", function () {
                    link.attr("x1", function (d) { return d.source.x; })
                        .attr("y1", function (d) { return d.source.y; })
                        .attr("x2", function (d) { return d.target.x; })
                        .attr("y2", function (d) { return d.target.y; });

                    node.attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")"; });
                });
                node.append("title")
                        .text(function (d) { return d.label; });

            }
        })

    });

    $(function(){
        
        var query1 = "", query2 = "", query3 = "", query4 = "";

        // ******  Hårdkodade data för demonstration:
        allaKunder = new Array("Jönköping Airport", "Per Brahe Gymnasiet", "Jönköpings Kommun", "Skogssällskapet", "Imano AB");
        allaKompetenser = new Array("C#", "C++", "Webb", "MVC", "Neo4j", "BizTalk", "Windows Azure", "SharePoint", "Woodpecker");
        allaRoller = new Array("Projektledare", "Webbstrateg", "Utvecklare", "Designer", "Utredare", "Redaktör", "Produktägare", "Testare", "Utbildare", "Arkitekt");
        allaKontor = new Array("Jönköping", "Växjö", "Göteborg", "Leksand", "Falun");
        allaMarknadssegment = new Array("Energi", "Skog", "Såg", "Papper", "Såg Optinex", "Övrigt");
        allaCert = new Array("Neo4j", "BizTalk", "Windows Azure", "SharePoint");
        allaKonsulter = new Array("Albert Fors", "Alexander Bentlund", "Anders Axelsson", "Anders Fagerberg", "Anna Otterborg", "Anna Törnblad", "Anna-Karin Sandstedt", "Antonio Freitas", "Björn Andersson","Lisa Bylin", "m fl");

        // ************************************

        konsult = new Array("som har kompetens inom ","som haft uppdrag som ","som kan rollen ","som utfört uppdrag för","som har certifiering för ");
        uppdrag = new Array("som utförts för ","som berört området ","som använt tekniken ","som utförts av ");
        kund = new Array("som beställt uppdrag inom området ","som finns inom segmentet ");
        kompetens = new Array("som är av typen ","som finns på kontoret i ","som inte finns på kontoret i ");

        $("#lista1").change(function () {
            $("#lista2").show();
            $("#lista3, #mer, #sok").hide();
            populate2();
        })
        $("#lista2").change(function () {
            $("#lista3").show();
            populate3();
        })
        $("#lista3").change(function () {
            $("#sok").show();
        })

        function populate2(){
            // get the value that was selected so we can populate the other one
            var val1 = $("#lista1").val();

            // clear the other select box
            $("#lista2").html("<option value='0' selected disabled>som...</option>");
            // now fill with new code depending on the selection
            if(val1 == "1"){
                query1 = "Konsult";
                konsult.forEach(function(value, index) { 
                    $("#lista2").append('<option value="1'+index+'">'+value+'</option>');
                });
            }
            else if(val1=="2"){
                query1 = "Uppdrag";
                uppdrag.forEach(function(value, index) {
                    $('#lista2').append('<option value="2'+index+'">'+value+'</option>');
                });
            }
            else if(val1=="3"){
                query1 = "Kund";
                kund.forEach(function(value, index) {
                    $('#lista2').append('<option value="3'+index+'">'+value+'</option>');
                });
            }else if(val1=="4"){
                kompetens.forEach(function(value, index) {
                    query1 = "Kompetens";
                    $('#lista2').append('<option value="4'+index+'">'+value+'</option>');
                });
            }
        }

        function populate3(){
            var val2 = $("#lista2").val();
            $("#lista3").html("<option value='0' selected disabled>(välj)</option>");

            switch (val2) {
                case "10":
                case "14":
                case "40":
                case "30":
                case "21":
                case "22":
                    allaKompetenser.forEach(function(value, index) { 
                        $("#lista3").append('<option value="1'+index+'">'+value+'</option>');
                        });
                    break;
                case "11":
                    allaRoller.forEach(function(value, index) { 
                        $("#lista3").append('<option value="1'+index+'">'+value+'</option>');
                    });
                    break;
                case "12":
                    allaCert.forEach(function(value, index) { 
                        $("#lista3").append('<option value="1'+index+'">'+value+'</option>');
                    });
                    break;
                case "13":
                case "20":
                    allaKunder.forEach(function(value, index) { 
                        $("#lista3").append('<option value="1'+index+'">'+value+'</option>');
                    });
                    $("#mer").show();
                    break;
                case "23":
                    allaKonsulter.forEach(function(value, index) { 
                        $("#lista3").append('<option value="1'+index+'">'+value+'</option>');
                    });
                    break;
                case "31":
                    allaMarknadssegment.forEach(function(value, index) { 
                        $("#lista3").append('<option value="1'+index+'">'+value+'</option>');
                    });
                    break;
                case "41":
                case "42":
                    allaKontor.forEach(function(t) { 
                        $("#lista3").append('<option>'+t+'</option>');
                    });
                    break;
                default:
                    alert("Ooops... Här har vi en bugg..!");
            }

        }

    })
</script>

