<table id="listaKompetenser" class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Typ</th>
            <th style="font-weight:300">Kompetens</th>
            <th>Nivå</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
